.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 2000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header button {
  background-color: transparent;
  border: none;
  color: #ff7b00;
  
  font-size: 24px;
  transition: color 0.3s ease;
}
.header button:hover {
  color: #ff9900;
}
.closeButton .material-icons {
  color: #fff; /* Use white color for the close icon */
}

.content {
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNjY2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZD0iTTIwIDE4djJIMHYtMmgydjEuNTQyTDE4LjU0MiAwaDEuNDU4djJoLTEuNTQyTDJ2Mi41NDJMNS41NDIgMTBIN3YyaC0xLjU0MkwxMCAxNC41NDJWMTRoMnpNMTYgMmgydi0ySDE0djJoMnptMi0yaDJ2LTJIMTh2MnoiLz48L3N2Zz4=') center center no-repeat;
  cursor: se-resize;
}
.rpv-core__minimal-button {
color : #fff !important; 
}
.material-icons {
  color: #fff; /* Use white color for all material icons */
}
